<div>
	<!-- Cart Button -->
	<div class="fixed-cart">
	  <button class="button is-info" ng-click="vm.openCart()">
	    <span class="icon is-small">
	      <i class="fas fa-shopping-cart"></i>
	    </span>
	    <span>Cart ({{vm.totalItems.count}})</span>
	  </button>
	</div>

	<!-- Cart Modal -->
	<div class="modal" ng-class="{'is-active': vm.cartOpen}">
	  <div class="modal-background"></div>
	  <div class="modal-card">
	    <header class="modal-card-head">
	      <p class="modal-card-title">Cart</p>
	      <button class="delete" aria-label="close" ng-click="vm.closeCart()"></button>
	    </header>
	    <section class="modal-card-body">
	      <!-- Content ... -->
	      <p ng-if="!vm.cartItems.length">No items in cart</p>
	      <ul ng-if="vm.cartItems.length" ng-repeat="item in vm.cartItems track by $index">
	      	<li class="mar-10">
	      		 <button class="button is-small is-primary is-outlined" ng-click="vm.increaseQty(item.id)">
				    <span class="icon is-small">
				      <i class="fas fa-plus"></i>
				    </span>
				  </button>
				  <span class="mar-10">{{vm.itemQuantity[item.id]}}</span>
				  <button class="button is-small is-danger is-outlined" ng-click="vm.decreaseQty($index, item.id)">
				    <span class="icon is-small">
				      <i class="fas fa-minus"></i>
				    </span>
				  </button>
	      		&nbsp; {{item.name}} - Rs {{item.price}}
	      	</li>
	      </ul><br>
	      <p><b>Address:</b> DLF Phase 5, Sector 53, Gurugram, Haryana 122003</p>
	      <p class="has-text-right"><b>Total Cost:</b> {{vm.totalCost}}</p>
	    </section>
	    <footer class="modal-card-foot">
	      <button class="button is-success" ng-click="vm.placeOrder()">Place Order</button>
	      <button class="button" ng-click="vm.clearCart()">Clear Cart</button>
	    </footer>
	  </div>
	</div>
</div>