<div>
	<div class="column is-8-fullhd is-10-widescreen mar-auto">
		<br><br><br>
		<div class="card mar-order-history" ng-repeat="order in vm.orderHistory track by $index">
		  <header class="card-header">
		    <p class="card-header-title">
		      Order Number: {{order.orderID}}
		      <span class="tag mar-10" ng-class="{'is-primary': order.status === 'completed', 'is-danger': order.status === 'cancelled'}">{{order.status}}</span>
		    </p>
		  </header>
		  <div class="card-content">
		    <div class="content">
		     <ul ng-repeat="item in order.orderItems">
		      	<li class="mar-10">
		      		{{item.name}} @ Rs {{item.price}} x {{item.qty}}  
		      	</li>
		      </ul> 
		      <p class="has-text-right"><span><b>Total: </b> Rs. {{order.totalCost}}</span></p>
		    </div>
		  </div>
		</div>
	</div>
</div>